src/main/app/cadastro-soa-mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.7.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <db:generic-config doc:name="Generic Database Configuration" driverClassName="com.mysql.jdbc.Driver" name="MySQL_Configuration" url="jdbc:mysql://localhost:3306/cadastro?user=sa&amp;password=sa"/>
    <http:listener-config doc:name="HTTP Listener Configuration" host="0.0.0.0" name="HTTP_Listener_Configuration" port="8081"/>
        <flow name="FIND_ALL">
        <http:listener config-ref="HTTP_Listener_Configuration" doc:name="Recieve HTTP request" path="/all" allowedMethods="GET"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Perform a query in MySQL">
            <db:dynamic-query><![CDATA[select * from Person]]></db:dynamic-query>
        </db:select>
        <json:object-to-json-transformer doc:name="Convert Object to JSON"/>
    </flow>
    <flow name="FIND">
        <http:listener config-ref="HTTP_Listener_Configuration" doc:name="Recieve HTTP request" path="/" allowedMethods="GET"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Perform a query in MySQL">
            <db:dynamic-query><![CDATA[select * from Person where id = "#[message.inboundProperties['http.query.params'].id]"]]></db:dynamic-query>
        </db:select>
        <json:object-to-json-transformer doc:name="Convert Object to JSON"/>
    </flow>
    <flow name="DELETE">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/delete" allowedMethods="DELETE" doc:name="HTTP"/>
        <json:json-to-object-transformer returnClass="br.com.munieri.cadastro.model.Person" doc:name="JSON to Person"/>
        <db:delete config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[delete from Person where id = #[payload.id]]]></db:parameterized-query>
        </db:delete>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="INSERT">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" allowedMethods="POST" doc:name="HTTP"/>
        <json:json-to-object-transformer returnClass="br.com.munieri.cadastro.model.Person" doc:name="JSON to Person"/>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into Person(name, phone, mobile, dateBirth) 
values (#[payload.name], #[payload.phone], #[payload.mobile], #[payload.dateBirth])]]></db:parameterized-query>
        </db:insert>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
</mule>
